@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}
body {
	background-image: url('images/transparent-background-pattern-png-4.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
	font-family: 'Open Sans', sans-serif;
}
.colour1
{
	background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #434343 74%);

}

header {
	
	height: 70vh;
	/* background: #000; */
}
.title{
	color: white;
	font-family: 'Orbitron' , sans-serif;
}
.black {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
nav {
	padding-top: 20px;
	padding-bottom: 20px;
	top: 0;
	position: fixed;
	display: flex;
	width: 100%;
	z-index: 100;
	background: #fff;
	justify-content: space-around;
	transition: 1s;
	align-items: center;
}
nav ul {
	display: flex;
	align-items: center;
}
nav ul li {
	list-style: none;
	margin: 5px 10px;
}
nav ul li a {
	padding: 2px 10px;
	color: #ffffff;
	cursor: pointer;
	transition: 1s;
	text-decoration: none;
}
nav ul li a:hover {
	
	border-radius: 5px;
	background: #fb4c67;
}
.active {
	color: #fff;
	border-radius: 5px;
	background: #fb4c67;
}
.srch {
	padding: 2px 10px;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	/* background: #0066ff; */
	border: 1px solid;
	border-radius: 20px;
}
.srch img {
	width: 25px;
	cursor: pointer;
}
.srch .search {
	/* padding: 2px 10px; */
	outline: none;
	border: none;
	background: transparent;
}

.get-started {
	margin-left: 50px;
	padding: 5px 20px;
	border: 2px solid #fb4c67;
	border-radius: 20px;
	text-decoration: none;
	
	transition: 1s;
	background-color: #fb4c67;
	color: #fff;
}
.get-started:hover {
	color: #2e2e2e;
	background: #fff;
}
.logo img{
	width: 100px;
	cursor: pointer;
	transition: all 1s;
}

a, button {
	float: left;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 15px;
	color: #2E3D49;
	display: block;
	text-decoration: none;
	text-align: center;
}
.head-container {
	margin-top: 245px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.quote {
	width: 600px;
	position: absolute;
	left:100px;
	top: 300px;
}
.quote h5 {
	margin-top: 20px;
	color: #0009;
	line-height: 20px;
}
.quote p {
	font-size: 50px;
	color: #2e2e2e;
}
.quote .play {
	margin-top: 20px;
	display: flex;
	/* justify-content: center; */
	align-items: center;
}
.quote .play img {
	width: 45px;
	cursor: pointer;
	filter: drop-shadow(0 0 10px #0002);
}
.quote .play span a{
	margin-left: 10px;
	font-size: 20px;
	font-weight: 900;
	color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}
.svg-image img{
	width: 500px;
	filter: drop-shadow(0 20px 10px rgba(0,0,0,0.2));
	position: relative;
	top:53px;
	left:410px;

}
/* Navbar container */
.navbar {
	overflow: hidden;

	border-radius: 10px;
	font-family: "Montserrat", sans-serif;
  }
  
  /* Links inside the navbar */
  .navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 2px 4px;
	transition: 1s;
	text-decoration: none;
	border-radius: 5px;
  }
  
  /* The dropdown container */
  .dropdown {
	float: left;
	border-radius: 5px;
	transition: 1s;
	overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
	font-size: 16px;
	transition: 1s;
	border: none;
	outline: none;
	color: white;
	border-radius: 5px;
	padding: 2px 4px;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
	border-radius: 5px;
	background-color: #fb4c67;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
	display: none;
	border-radius: 5px;
	position: absolute;
	transition: 1s;
	top:80px;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	float: none;
	border-radius: 5px;
	transition: 1s;
	color: black;
	padding: 10px 14px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
	border-radius: 5px;
	background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	border-radius: 5px;
	display: block;
  }
  

/*SCROLLING TEXT*/
.marqu {
	text-align: center;
	justify-content: center;
	color: #fff;
	font-size: 20px;
	padding: 10px;
}

/*FOOTER*/
footer {
	color: #E5E8EF;
	background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
	padding: 50px 0; 
}
footer .footer-container {
	max-width: 1300px;
	margin: auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;

}
footer .social-media img{
	width: 22px;
}
footer .logo {
	width: 180px;
	color: #fff;
}
footer .social-media a{
	margin-right: 10px;
	font-size: 22px;
	text-decoration: none;
}
footer .right-col h1{
	font-size: 26px;
}

footer .newsletter-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
footer input::placeholder {
  color: white !important;
}
footer .txtb {
	flex: 1;
	padding: 18px 40px;
	font-size: 16px;
	background: #343A40;
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 5px;
	min-width: 260px;
	margin-top: 20px;
	color: white;
}
footer .btn {
	margin-top: 20px;
	padding: 18px 40px;
	font-size: 16px;
	color: #f1f1f1;
	background: linear-gradient(to right, #FA4B37, #fb4c67);
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 5px;
	margin-left: 20px;
	cursor: pointer;
	transition: opacity .3s linear;	
}
footer .btn:hover {
	opacity: .7;
}
/* slide show begin */
* {box-sizing:border-box}
/*resize the slides*/
.mySlides img{
    margin:0 auto;
    width: 100%;
    max-width: 500px;
    min-width: 500px;
	
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: absolute;
  top:300px;
  left : 900px;
  margin:0 auto;
    width: 100%;
    max-width: 500px;
    min-width: 500px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
/*
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 10}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* slide show end */
/*PROPERTIES FOR MAKING WEBSITE RESPONSIVE*/
